#!/usr/bin/env ruby

compile '/partials/*.html.haml' do
  filter :haml
end
compile '/partials/*' do
end
route '/partials/*' do
  nil
end

compile '/**/*.html.haml' do
  filter :haml
  layout '/layout.*'
  filter :relativize_paths, type: :html
end

passthrough '/images/**/*'

compile '/**/*.less' do
  filter :less
  filter :relativize_paths, type: :css
end

compile '/**/*.js.coffee' do
  filter :coffeescript
end

route '/js/*.js.coffee' do
  item.identifier.without_ext
end

route '/css/*.less' do
  item.identifier.without_ext + '.css'
end

compile '/**/*' do
  write item.identifier.to_s
end

layout '/**/*', :haml

route '/**/*.html.haml' do
  if !@item.identifier.components.last.end_with?('index.html.haml')
    item.identifier.without_exts + '/index.html'
  else
    item.identifier.without_ext
  end
end

postprocess do
  system('./node_modules/.bin/handlebars content/partials/*.handlebars -m -f output/js/templates.js')
end
