.container#about
  / Introduction Row
  .row
    .col-lg-12
      %h1.text-center.page-header
        About Us
        %small Your slice of european luxury
  .row
    .col-lg-6
      -#%img.img-responsive.img-circle.img-center{:alt => "", :src => "http://placehold.it/400x400"}
      %img.img-responsive.img-circle.img-center{:alt => "", :src => "/assets/images/team/jahnvi2.jpg"}
    .col-lg-6
      %p
        Omorphia is a multi-facility spa and salon started by Jahnvi Chandwaney, and based in Pune, India.
      %p
        Jahnvi has fulfilled multiple roles in her life. Starting out as a housewife and a mother of two, she spent four years in Paris, the fashion destination. Once her kids grew up, she got a chance to pursue her passion for the beauty industry.
      %p
        Jahnvi pursued Masters in Cosmetology, Media Make up and Aesthetics from VLCC Institute. She worked as Make-up faculty, and went on to be promoted as the head of the same institute.
      %p
        Conceptualized as Jahnvi Chandwaney's dream venture, and possible through the merger of beauty with the brains of business tycoon Mr. Anirban Sarkar, it has grown with the support of our amazing team.
  / Team Members Row
  .row
    .col-lg-12
      %h2.text-center.page-header Our Team
    .col-sm-6.text-center.team-member
      %img.img-circle.img-responsive.img-center{:alt => "", :src => "/assets/images/team/angad2.JPG"}/
      %h3
        Angad Maru
        %small Senior Hair Artist
      %p 10 years experience with reputed brands
    .col-sm-6.text-center.team-member
      %img.img-circle.img-responsive.img-center{:alt => "", :src => "/assets/images/team/monikaa2.JPG"}/
      %h3
        Monikaa Singh
        %small Salon Manager
      %p 10 years experience with reputed brands
    .col-sm-6.text-center.team-member
      %img.img-circle.img-responsive.img-center{:alt => "", :src => "/assets/images/team/pallavi2.JPG"}/
      %h3
        Pallavi Srinath Kamble
        %small Laser/Slimming/Skin & Spa Therapist
      %p 12 years experience with reputed brands
    .col-sm-6.text-center.team-member
      %img.img-circle.img-responsive.img-center{:alt => "", :src => "/assets/images/team/suvarna2.JPG"}/
      %h3
        Suvarna Murlidhar Sannapuri
        %small Skin/Spa Therapist & Hairdresser
      %p 4 years experience with reputed brands
    .col-sm-6.text-center.team-member
      %img.img-circle.img-responsive.img-center{:alt => "", :src => "/assets/images/team/lachingam2.JPG"}/
      %h3
        Lachingam Chithung
        %small Spa & Skin Therapist
      %p 3 years experience with reputed brands
