.container
  .row
    .col-md-6.col.sm-12
      %p
        If you are interested in any of our services, feel free to
        %a{ href: 'tel:+91-9898989898' }
          %i.fa.fa-phone
          call us.
      %p Follow us on our Facebook page to get latest updates about us, as well as lucrative offers.
      %p
        %strong Visit us
      %address
        %strong Omorphia Wellness Center
        %br
        Abs Gym
        %br
        Camp
        %br
        Pune - 411008
        %br
        Phone:
        %a{ href: 'tel:+91-9898989898' } +91-9898989898
    .col-md-6.col-sm-12
      %iframe{:allowfullscreen => "", :frameborder => "0", :height => "400px", :src => "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d363.2693900524173!2d73.88662222460147!3d18.511322848261845!2m3!1f0!2f41.48733150885852!3f0!3m2!1i1024!2i768!4f20!3m3!1m2!1s0x3bc2c04b00000001%3A0xdf6507d4f6871ad3!2sABS+Fitness+%26+Wellness+Club!5e1!3m2!1sen!2sin!4v1468537744771", :style => "border:0", :width => "100%"}

