.container#contact
  .row
    .col-md-6.col.sm-12
      %p
        If you are interested in any of our services, feel free to
        %a{ href: 'tel:+91-9898989898' }
          %i.fa.fa-phone
          call us.
      %p Follow us on our Facebook page to get latest updates about us, as well as lucrative offers.
      %p
        %strong Visit us
      %address
        %strong Omorphia Wellness Center
        %br
        Shop no 1,
        %br
        Majestic crown building,
        %br
        Synagogue street,
        %br
        Camp,
        %br
        Pune - 411001
        %br
        Phone:
        %a{ href: 'tel:02065217489' } 020 6521 7489
    .col-md-6.col-sm-12
      %iframe{:allowfullscreen => "", :frameborder => "0", :height => "400px", :src => "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d945.8135523507743!2d73.8742499292317!3d18.517411070885263!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2c045042d2737%3A0xf67f910e09cd3b38!2sOmorphia+Wellness+Center%2C+105%2C+Synagogue+St%2C+Camp%2C+Pune%2C+Maharashtra+411001!5e0!3m2!1sen!2sin!4v1469627137422", :style => "border:0", :width => "100%"}

