%section#banner.wow.fadeInUp
  .container
    .row
      .col-md-4.col-sm-6
        .block
          %img.app-img.img-responsive{:alt => "", :src => "images/app.png"}
      .col-md-6.col-md-offset-1.col-sm-6
        .block
          %h1
            Omorphia
          %p
            Beauty that comes from your soul
          %ul.download-btn
            %li
              %a.btn.btn-default.btn-apple{:href => "#"}
                %i.fa.fa-apple>
                App store
            %li
              %a.btn.btn-default.btn-andriod{:href => "#"}
                %i.fa.fa-android>
                Play Store
            %li
              %a.btn.btn-default.btn-windows{:href => "#"}
                %i.fa.fa-windows>
                Windows Store
%section#service
  .container
    .service-wrapper
      .row
        .col-md-3.col-sm-6
          .block.wow.fadeInRight{"data-wow-delay" => "0.3s"}
            .icon
              %i.fa.fa-desktop
            %h3 Fully Customizable
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, amet.
        .col-md-3.col-sm-6
          .block.wow.fadeInRight{"data-wow-delay" => "0.6s"}
            .icon
              %i.fa.fa-paper-plane
            %h3 Gorgeous design
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, amet.
        .col-md-3.col-sm-6
          .block.wow.fadeInRight{"data-wow-delay" => "0.9s"}
            .icon
              %i.fa.fa-file-text
            %h3 Well documented.
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, amet.
        .col-md-3.col-sm-6
          .block.wow.fadeInRight{"data-wow-delay" => "1.2s"}
            .icon
              %i.fa.fa-laptop
            %h3 Responsive Design.
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, amet.
%section#feature
  .container
    .row
      .col-md-6.col-sm-6.wow.fadeInRight{"data-wow-delay" => ".4s"}
        %h2.title Our Focused on Feature
        .feature-item
          .media
            .pull-left.icon{:href => "#"}
              %i.fa.fa-paint-brush
            .media-body
              %h4.media-heading Reliable and Secure Platform
              %p Lorem ipsum dolor sit amet, consectetur adipisici ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea com
        .feature-item
          .media
            .pull-left.icon{:href => "#"}
              %i.fa.fa-qrcode
            .media-body
              %h4.media-heading Everything is perfectly orgainized
              %p Aipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
        .feature-item
          .media
            .pull-left.icon{:href => "#"}
              %i.fa.fa-recycle
            .media-body
              %h4.media-heading Rapid customer support
              %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      .col-md-6.col-sm-6.wow.fadeInLeft{"data-wow-delay" => ".4s"}
        .block
          %img.img-responsive{:alt => "", :src => "images/featured-app.png"}
%section#utility
  .container
    .row
      .col-md-6.col-sm-6.wow.fadeInUp{"data-wow-delay" => ".6s"}
        %img.img-responsive{:alt => "", :src => "images/mockup.png"}
      .col-md-6.col-sm-6.wow.fadeInDown{"data-wow-delay" => ".6s"}
        .block
          %h2 Amazing Compatibility.
          %p
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea com Neque porro quisqua
%section#utility-2
  .container
    .row
      .col-md-6.col-sm-6.wow.fadeInLeft{"data-wow-delay" => ".6s"}
        .block
          %h2 Remarkable Features
          %p
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea com Neque porro quisquam est,
      .col-md-6.col-sm-6.wow.fadeInRight{"data-wow-delay" => ".6s"}
        %img.img-responsive{:alt => "", :src => "images/app-screen.png"}
%section#subscribe
  .container
    .row
      .col-md-12.wow.fadeInDown{"data-wow-delay" => ".6s"}
        .block
          .title.text-center
            %h2 Stay Connected
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, non!
          %form.form-inline.text-center.col-sm-12.col-xs-12{:role => "form"}
            .form-group
              %input#signup-form.form-control{:type => "text"}
            %a.btn.btn-default.btn-signup{:href => "", :type => "submit"}
              %i.fa.fa-paper-plane
%section#fb
  %a{"data-flickr-embed" => "true", "data-footer" => "true", :href => "https://www.flickr.com/photos/31938375@N02/albums/72157670232075661", :title => "one album"}
    %img{:alt => "one album", :height => "480", :src => "https://c2.staticflickr.com/4/3593/3505818508_8809247192_z.jpg?zz=1", :width => "640"}/
  %script{:async => "", :charset => "utf-8", :src => "//embedr.flickr.com/assets/client-code.js"}
