%section#banner.wow.fadeInUp
  .container
    .row
      .col-md-4.col-sm-6
        .block
          %img.app-img.img-responsive{:alt => "", :src => "https://placehold.it/338x338"}
      .col-md-6.col-md-offset-1.col-sm-6
        .block
          %h1
            Omorphia
          %p
            Beauty that comes from your soul
%section#service
  .container
    .service-wrapper
      .row
        .col-md-3.col-sm-6
          .block.wow.fadeInRight{"data-wow-delay" => "0.3s"}
            .icon
              %i.fa.fa-desktop
            %h3 Spa
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, amet.
        .col-md-3.col-sm-6
          .block.wow.fadeInRight{"data-wow-delay" => "0.6s"}
            .icon
              %i.fa.fa-paper-plane
            %h3 Hair
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, amet.
        .col-md-3.col-sm-6
          .block.wow.fadeInRight{"data-wow-delay" => "0.9s"}
            .icon
              %i.fa.fa-file-text
            %h3 Makeup
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, amet.
        .col-md-3.col-sm-6
          .block.wow.fadeInRight{"data-wow-delay" => "1.2s"}
            .icon
              %i.fa.fa-laptop
            %h3 Laser
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, amet.
%section#feature
  .container
    .row
      .col-md-6.col-sm-6.wow.fadeInRight{"data-wow-delay" => ".4s"}
        %h2.title Our Focus on Your Beauty
        .feature-item
          .media
            .pull-left.icon{:href => "#"}
              %i.fa.fa-paint-brush
            .media-body
              %h4.media-heading All we do
              %p Lorem ipsum dolor sit amet, consectetur adipisici ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea com
        .feature-item
          .media
            .pull-left.icon{:href => "#"}
              %i.fa.fa-qrcode
            .media-body
              %h4.media-heading More stuff we do
              %p Aipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
        .feature-item
          .media
            .pull-left.icon{:href => "#"}
              %i.fa.fa-recycle
            .media-body
              %h4.media-heading We are Omorphia
              %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      .col-md-6.col-sm-6.wow.fadeInLeft{"data-wow-delay" => ".4s"}
        .block
          %img.img-responsive{:alt => "", :src => "https://placehold.it/281x467"}
%section#utility
  .container
    .row
      .col-md-6.col-sm-6.wow.fadeInUp{"data-wow-delay" => ".6s"}
        %img.img-responsive{:alt => "", :src => "https://placehold.it/482x437"}
      .col-md-6.col-sm-6.wow.fadeInDown{"data-wow-delay" => ".6s"}
        .block
          %h2 Amazing Staff
          %p
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea com Neque porro quisqua
%section#utility-2
  .container
    .row
      .col-md-6.col-sm-6.wow.fadeInLeft{"data-wow-delay" => ".6s"}
        .block
          %h2 Remarkable Service
          %p
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea com Neque porro quisquam est,
      .col-md-6.col-sm-6.wow.fadeInRight{"data-wow-delay" => ".6s"}
        %img.img-responsive{:alt => "", :src => "https://placehold.it/492x430"}
%section#subscribe
  .container
    .row
      .col-md-12.wow.fadeInDown{"data-wow-delay" => ".6s"}
        .block
          .title.text-center
            %h2 Stay Connected
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, non!
          %form.form-inline.text-center.col-sm-12.col-xs-12{:role => "form"}
            .form-group
              %input#signup-form.form-control{:type => "text"}
            %a.btn.btn-default.btn-signup{:href => "", :type => "submit"}
              %i.fa.fa-paper-plane
