%section#banner.wow.fadeInUp
  .container
    .row
      .col-md-12
        .block.text-center
          %img.img-responsive{src: '/assets/images/logo-index.png'}
          %p
            Beauty that comes from your soul
%section#site-photos
  .swiper-container
    .swiper-wrapper
      .swiper-slide
        %img.img-responsive{src: '/assets/images/site/10.jpg'}
      .swiper-slide
        %img.img-responsive{src: '/assets/images/site/18.jpg'}
      .swiper-slide
        %img.img-responsive{src: '/assets/images/site/3.jpg'}
      .swiper-slide
        %img.img-responsive{src: '/assets/images/site/7.jpg'}
      .swiper-slide
        %img.img-responsive{src: '/assets/images/site/11.jpg'}
      .swiper-slide
        %img.img-responsive{src: '/assets/images/site/13.jpg'}
    .swiper-pagination
    .swiper-button-prev
    .swiper-button-next
%section#service
  .container
    .service-wrapper
      .row
        .col-md-3.col-sm-6
          .block.wow.fadeInRight{"data-wow-delay" => "0.3s"}
            %h3 Spa
        .col-md-3.col-sm-6
          .block.wow.fadeInRight{"data-wow-delay" => "0.6s"}
            %h3 Hair
        .col-md-3.col-sm-6
          .block.wow.fadeInRight{"data-wow-delay" => "0.9s"}
            %h3 Makeup
        .col-md-3.col-sm-6
          .block.wow.fadeInRight{"data-wow-delay" => "1.2s"}
            %h3 Laser
        .col-md-3.col-sm-6
          .block.wow.fadeInRight{"data-wow-delay" => "1.5s"}
            %h3 Slimming
        .col-md-3.col-sm-6
          .block.wow.fadeInRight{"data-wow-delay" => "1.8s"}
            %h3 Face
        .col-md-3.col-sm-6
          .block.wow.fadeInRight{"data-wow-delay" => "2.1s"}
            %h3 Hands & Feet
        .col-md-3.col-sm-6
          .block.wow.fadeInRight{"data-wow-delay" => "2.4s"}
            %h3 Skin
