.container#service

:coffee
  init = ->
    NProgress.start()
    Tabletop.init
      key: spreadsheet_key
      callback: showInfo
      simpleSheet: false
    return

  showInfo = (data, tabletop) ->
    html = Handlebars.templates['hair'](data['Hair'].elements)
    $("#service").append(html);
    NProgress.done()
    return data

  $ ->
    init()

  spreadsheet_key = '1j0LdzGrtjKGadzzDS75Jiu7exAAMbv1OHQfLjpBslvs'
