<div class="service-title">
  <h1 class="text-center">Face</h1>
  <img src="/assets/images/face-large.jpg">
</div>
<hr>
{{#each this}}
    <div class="col-md-6 col-xs-12">
      <h2 class="text-center">{{@key}}</h2>
      <hr>
      {{#each this}}
        <h3>{{Detail}}</h3>
        <p>{{Description}}</p>
      <hr>
      {{/each}}
    </div>
{{/each}}
