.footer-border
%footer#main-footer
  .container.text-center
    .row
      .col-md-12
        %a.footer-logo{:href => "#"}
          %img.img-responsive{:alt => "", :src => "/assets/images/logo.png"}
        %p Copyright © 2016 Omorphia Ltd. All rights reserved.
    .row
      Photo credit:
      %a{:href => "https://www.flickr.com/photos/27429206@N02/3967683569/"} Vladimir Morozov
      via
      %a{:href => "https://visualhunt.com"} VisualHunt.com
      \/
      %a{:href => "http://creativecommons.org/licenses/by/2.0/"} CC BY
