<div class="service-title">
  <h1 class="text-center">Hair</h1>
  <img src="/assets/images/hair-large.jpg">
</div>
<hr>
{{#each this}}
  <h3>
    {{Service}}
    {{#if Type}}
      <span>- {{Type}}</span>
    {{/if}}
  </h3>
  <hr>
{{/each}}
