<h1 class="text-center text-blue">Hands & Feet</h1>
<hr>
{{#each this}}
    <div class="col-md-4 col-xs-12">
      <h2 class="text-center">{{@key}}</h2>
      <hr>
      {{#each this}}
        <h3>{{Detail}}</h3>
      <hr>
      {{/each}}
    </div>
{{/each}}
