#services-drawer.collapse
  .well
    .container
      .col-lg-4.col-md-4.col-sm-6.col-xs-12
        %a.hovereffect.card{ href: '/services/hair' }
          %img.img-responsive{:alt => "", :src => "/assets/images/hair.jpg"}
          .overlay
            %h2 Hair
            %blockquote.blockquote-reverse
              %p “She was the most beautiful creature on Earth - her hair said so in that language only hair can speak.”
              -#%p Forget not that the earth delights to feel your bare feet and the winds long to play with your hair.
              -#%footer Kahlil Gibran
              %footer Gabriel Bá, Daytripper
      .col-lg-4.col-md-4.col-sm-6.col-xs-12
        %a.hovereffect.card{ href: '/services/face-makeup' }
          %img.img-responsive{:alt => "", :src => "/assets/images/face.jpg"}
          .overlay
            %h2.text-white Face & Make-up
            %blockquote.blockquote-reverse
              %p
                “Beneath the makeup and behind the smile
                %br
                I am just a girl who wishes for the world.”
              %footer Marilyn Monroe
      .col-lg-4.col-md-4.col-sm-6.col-xs-12
        %a.hovereffect.card{ href: '/services/hands-feet' }
          %img.img-responsive{:alt => "", :src => "/assets/images/hands.jpg"}
          .overlay
            %h2.text-white Hands & Feet
            %blockquote.blockquote-reverse
              %p
                Your hand, touching mine
                %br
                This is how
                %br
                galaxies collide
              %footer Sanober Khan
      .col-lg-4.col-md-4.col-sm-6.col-xs-12
        %a.hovereffect.card{ href: '/services/skin' }
          %img.img-responsive{:alt => "", :src => "/assets/images/skin.jpg"}
          .overlay
            %h2 Skin
            %blockquote.blockquote-reverse
              %p
                "As if you were on fire from within
                %br
                The moon lives in the lining of your skin"
              %footer Pablo Neruda
      .col-lg-4.col-md-4.col-sm-6.col-xs-12
        %a.hovereffect.card{ href: '/services/spa' }
          %img.img-responsive{:alt => "", :src => "/assets/images/spa.jpg"}
          .overlay
            %h2.text-white Spa
            %blockquote.blockquote-reverse
              %p
                “Tension is who you think you should be.
                %br
                Relaxation is who you are”
              %footer Chinese proverb
      .col-lg-4.col-md-4.col-sm-6.col-xs-12
        %a.hovereffect.card{ href: '/services/slimming' }
          %img.img-responsive{:alt => "", :src => "/assets/images/slimming.jpg"}
          .overlay
            %h2.text-white Slimming
            %blockquote.blockquote-reverse
              %p “I'm so unfamiliar with the gym, I call it James!”
              %footer Ellen DeGeneres
