<div class="service-title" id="slimming">
  <h1 class="text-center">Slimming</h1>
  <img src="/assets/images/slimming-large.jpg">
</div>
<hr>
{{#each this}}
  <h3>{{Service}}</h3>
  <p>{{Description}}</p>
  <hr>
{{/each}}
