.row
  .col-md-12.text-center
    %ul.nav.nav-pills.top-element-padding.center-pills
      %li{:role => "presentation", class: gallery_li_class(gallery_item, '/gallery/index')}
        %a{:href => "/gallery"} Premises
      %li{:role => "presentation", class: gallery_li_class(gallery_item, '/gallery/skin')}
        %a{:href => "/gallery/skin"} Skin
      %li{:role => "presentation", class: gallery_li_class(gallery_item, '/gallery/hair')}
        %a{:href => "/gallery/hair"} Hair
      %li{:role => "presentation", class: gallery_li_class(gallery_item, '/gallery/spa')}
        %a{:href => "/gallery/spa"} Spa
      %li{:role => "presentation", class: gallery_li_class(gallery_item, '/gallery/makeup')}
        %a{:href => "/gallery/makeup"} Makeup
      %li{:role => "presentation", class: gallery_li_class(gallery_item, '/gallery/laser')}
        %a{:href => "/gallery/laser"} Laser
      %li{:role => "presentation", class: gallery_li_class(gallery_item, '/gallery/slimming')}
        %a{:href => "/gallery/slimming"} Slimming
      %li{:role => "presentation", class: gallery_li_class(gallery_item, '/gallery/nails')}
        %a{:href => "/gallery/nails"} Nails
      %li{:role => "presentation", class: gallery_li_class(gallery_item, '/gallery/events')}
        %a{:href => "/gallery/events"} Events & Activities
      %li{:role => "presentation", class: gallery_li_class(gallery_item, '/gallery/achievements')}
        %a{:href => "/gallery/achievements"} Certificates & Achievements
      %li{:role => "presentation", class: gallery_li_class(gallery_item, '/gallery/clients')}
        %a{:href => "/gallery/clients"} Happy Clients
      %li{:role => "presentation", class: gallery_li_class(gallery_item, '/gallery/team')}
        %a{:href => "/gallery/team"} Team

