.row
  .col-md-12.text-center
    %ul.nav.nav-pills.top-element-padding.center-pills
      %li{:role => "presentation", class: gallery_li_class(gallery_item, '/gallery/index')}
        %a{:href => "/gallery"} Premises
      %li{:role => "presentation", class: gallery_li_class(gallery_item, '/gallery/timeline')}
        %a{:href => "/gallery/timeline"} Timeline
