/*@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,300italic);*/
/*@import url(http://fonts.googleapis.com/css?family=Open+Sans);*/
/*@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700);*/
@import url(https://fonts.googleapis.com/css?family=Junge|Raleway);
@gold: #f3d45a;
@maroon: #863b1d;
body {
  font-family: 'Raleway', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Junge', serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
  font-weight: 200;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 2rem;
}
p {
  font-size: 1.5rem;
}

ul {
  padding-left: 0;
  li {
    list-style:none;
  }
}
.navbar-default {
  background: none;
  border-color: transparent;
  margin-bottom: 0;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}
.navbar-default .navbar-nav>li>a {
  font-size: 2.5rem;
  font-family: 'Junge', serif;
  font-weight: 200;
  color: #666;
  /*padding:5px 15px;*/
  border-radius: 3px;
  &:hover {
    background-color: @gold;
    color: @maroon;
  }
}
.navbar-nav {
  float: none;
  display: inline-block;
}
.navbar {
  /*min-height: 0;*/
}
nav {
  -webkit-box-shadow: 0 0 4px rgba(0,0,0,.2);
  -moz-box-shadow: 0 0 4px rgba(0,0,0,.2);
  -ms-box-shadow: 0 0 4px rgba(0,0,0,.2);
  -o-box-shadow: 0 0 4px rgba(0,0,0,.2);
  box-shadow: 0 0 4px rgba(0,0,0,.2);
  background: rgba(255, 255, 255, 0.96);
  padding: 8px 0;
  position: fixed;
  width: 100%;
  z-index: 999;
  .logo.hidden-xs {
    /*position: absolute;*/
  }
  /*.logo.hidden-sm.hidden-lg.hidden-md {*/
    /*display: inline-block;*/
  /*}*/
  .social-info {
    margin-bottom: 0;
    padding-top:8px;
    li {
      display: inline-block;
      &:first-child a {
        border-left: 1px solid #dedede;
      }
      a {
        color: #aeaeae;
        padding:3px 8px;
        border-right: 1px solid #dedede;
        &:hover {
          color: @gold;
        }
        i {
          font-size: 2.5rem;
        }
      }
    }
  }

}


#banner {
  background-size: cover;
  position: relative;
  /*padding-top: 100px;*/
  .app-img {
    padding-top: 10px;
  }
  .block>p {
  }
  .block {
    padding-top: 40px;
    h1 {
      margin-bottom: 18px;
      line-height: 55px;
      color: @maroon;
      font-weight: 300;
    }
    img {
      margin: auto;
    }
    p {
      margin-top: 30px;
      margin-bottom: 60px;
      font-size: 20px;
      color: #999;
      font-weight: 300;
    }
  }
}

#service {
  padding:30px 0;
  .service-wrapper {
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    padding:110px 0;
  }
  .block {
    cursor: pointer;
    text-align: center;


    &:hover .icon i {
      color: #fff;
    }
    &:hover h3 {
      color: @gold;
    }
    &:hover .icon {
      border: 1px solid #FFFFFF;
      background: @gold;
      color: #fff;
      -webkit-box-shadow: 0 0 0px 2px @gold;
      -moz-box-shadow: 0 0 0px 2px @gold;
      box-shadow: 0 0 0px 2px @gold;
    }
    .icon {
      width: 90px;
      height: 90px;
      margin:0 auto;
      border-radius: 100%;
      border:1px solid #dedede;
      text-align: center;
      -webkit-transition: .2s all;
      -o-transition: .2s all;
      transition: .2s all;
    }
    i {
      font-size: 25px;
      line-height: 90px;
      color: #989898;
      -webkit-transition: .2s all;
      -o-transition: .2s all;
      transition: .2s all;

    }
    h3 {
      color: #555;
      font-weight: 300;
    }
    p {
      color: #666;
    }
  }
}

#feature {
  padding: 70px 0;
  .title {
    font-weight: 300;
  }

  .feature-item {
    margin-top: 40px;
    &:first-child {
      margin-top: 0;
    }
    .icon {
      padding-right: 22px;
      i {
        color: @gold;
        font-size: 30px;
      }
    }
    h4 {
      color: @gold;
      margin-bottom: 0;
      font-weight: 300;
      margin-bottom: 8px;
    }
    p {
      color: #9499a2;
    }



  }
  .block {
    text-align: center;
    img {
      display: inline-block;
    }
  }
}

#utility {
  background: #f6f6f7;
  padding: 60px 0 30px 0;

  .block {
    h2 {
      padding-top: 70px;
      color: #111;
    }
    p {
      line-height: 32px;
      color: #7c828b;
      font-size: 16px;
    }

  }
}
#utility-2 {
  padding:40px 0 10px 0;

  .block {
    padding-top: 100px;
    h2 {

      color: #666;
    }
    p {
      line-height: 32px;
      color: #9AA0A9;
      font-size: 16px;
    }

  }
}

#subscribe {
  padding:70px 0;
  .block {
    border-top: 1px solid #dedede;
    padding-top: 40px;
  }

  p {
    color: #96908E;
  }
  .form-inline {
    padding-top: 16px;
    .form-group {
      position: relative;
      input {
        width: 340px;
        padding: 20px 0px 20px 15px;
        border-radius: 0;
        background: white;
        border: 1px solid #d4d4d4;
        border:1px solid #d1d1d1;
        box-shadow: none;
        &:hover,&:active,&:focus {
          box-shadow: none;
        }
      }
    }
    i {
      font-size: 18px;
      color: #fff;
      display: inline-block;
    }
  }
  .btn-signup {
    background: #77c344;
    padding:10px 20px;
    color: #fff;
    border-radius: 0;
    border:none;
    margin-left: -4px;
    border:1px solid transparent;
    -webkit-transition: .2s all;
    -o-transition: .2s all;
    transition: .2s all;
    &:hover {
      background: #fff;
      border:1px solid #77c344;

    }
    &:hover i {
      color: #77c344;
    }
  }
}
.footer-border {
  background-image: url(/assets/images/border.png);
  height: 54px;
  width: 100%;
}
.footer-silhouette {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100%;
  height: 211px;
  max-width: 850px;
  margin-top: 15px;
  background-image: url(/assets/images/silhouette.png);
  background-size: cover;
  position: relative;
  background-position: center center;

}

footer#main-footer {
  /*background: #f9f9f9;*/
  /*background-color: #e5d1a9;*/
  /*background-color: #008eda;*/
  background-color: rgba(30, 158, 221, 0.45);
  background-repeat: no-repeat;
  /*border-top: 1px solid #e8e8e8;*/
  padding:80px 0 80px;
  /*height: 268px;*/
  .footer-logo {
    margin-bottom: 15px;
    display: inline-block;
    text-align: center;
  }
  p {
    color: #6F6F6F;
    margin-top: 10px;
    margin-bottom: 0;
  }
}

#services-drawer {
}

.hovereffect h2.text-white {
  color: #FFF
}

.galleria {
  padding-bottom: 30px;
  min-height: 600px;
}

#contact {
  margin-top: 40px;
  margin-bottom: 40px;
}

.list-item {
  border-bottom: 1px grey solid;
}
.text-gold {
  color: #f1da42;
}
.text-blue {
  color: #008eda;
}
.img-center {
  margin: 0 auto;
}
.team-member {
  margin-top: 2rem;
  margin-bottom: 4rem;
}
.top-element-padding {
  padding-top: 30px;
}
.center-pills {
  display: inline-block;
}
.galleria-container.galleria-theme-classic {
  background: none;
}
.galleria-thumbnails {
  margin: auto;
}
.service-title {
  position: relative;
  background: #5C97FF;
  overflow: hidden;
  &#slimming {
    background: #fff;
    h1 {
      color: dimgray;
    }
    img {
      top: -70%;
      opacity: 0.4;
    }
  }
  &#skin {
    background: #fff;
    h1 {
      color: dimgray;
    }
    img {
      top: 0;
      opacity: 0.4;
    }
  }
  h1 {
    padding: 50px;
    text-align: center;
    z-index: 2;
    position: relative;
    color: #fff;
  }
  img {
    position: absolute;
    left: 0;
    top: -100%;
    width: 100%;
    height: auto;
    z-index: 1;
    opacity: 0.6;
  }
}
.text-black {
  color: #6f6f6f;
}

.carousel-inner {
  &> .item {
    &> img {
      display: inline;
    }
  }
  width: 500%;
}

.swiper-container {
  width: 100%;
}
.swiper-slide {
  width: 33%;
}
.page-header {
  color: @maroon;
}
.text-maroon {
  color: @maroon;
}

.swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}
.swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,<svg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'><path%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F><%2Fsvg>")
}
